/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.listings-main-image {
  background-image: url("/img/listing-main-bg.png") !important;
  height: 965px !important;
}
.listings-main-image .listings-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.listings-main-image .listings-text-box h1 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 78px;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: normal;
  width: 600px;
}
.listings-main-image .listings-text-box p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}
.listings-main-image .listings-text-box .yellow-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.listings-main-image .listings-text-box .yellow-paragraph p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  color: #E7C873;
  letter-spacing: normal;
}

.cities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.cities-section .cities-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.cities-section .cities-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.cities-section .cities-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
  text-align: center;
}
.cities-section .cities-widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.cities-section .cities-widgets .cities-widget {
  background-image: url("/img/new-york.png");
  width: 256px;
  height: 318px;
  background-size: cover;
  position: relative;
  padding: 40px;
}
.cities-section .cities-widgets .cities-widget p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: normal;
}
.cities-section .cities-widgets .cities-widget p:last-child {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 22px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}

.slider-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.slider-navigation .arrow-icon {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #E9E9E9;
  width: 60px;
  height: 40px;
  border-radius: 40px;
}

.properties-section {
  background-color: #2D3A4F;
  width: 100%;
  padding: 170px 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.properties-section .properties-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.properties-section .properties-content .properties-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}
.properties-section .properties-content .properties-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 52px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}
.properties-section .properties-content .properties-widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  width: 680px;
  height: 700px;
  background-size: cover;
  background-image: url("/img/left-widget-image.png");
}
.properties-section .properties-content .properties-widgets .properties-left-widget .sale-featured {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .sale-featured .for-sale {
  background-color: #1F4B43;
  border-radius: 33px;
  padding: 2px 15px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .sale-featured .for-sale p {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .sale-featured .featured {
  background-color: #E7C873;
  border-radius: 33px;
  padding: 2px 15px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .sale-featured .featured p {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 20px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-title {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 32px;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 30px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
  gap: 10px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-description p {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-description .widget-properties-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-description .widget-properties-description .rooms-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.properties-section .properties-content .properties-widgets .properties-left-widget .left-widget-description .left-widget-description .widget-properties-description .rooms-description p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 685px;
  height: 700px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-top-widget {
  background-image: url("/img/top-right-widget.png");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 335px;
  padding: 10px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-top-widget .widget-slider {
  background-color: rgba(26, 26, 26, 0.1098039216);
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-left-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/img/right-bottom-widget.png");
  background-size: cover;
  border-radius: 16px;
  width: 326px;
  height: 331px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-left-widget .play-button {
  background-color: rgba(26, 26, 26, 0.1098039216);
  padding: 24px 25px;
  border-radius: 100%;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background-color: #E7C873;
  border-radius: 16px;
  padding: 35px 40px;
  width: 326px;
  height: 331px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .bottom-right-yellow-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .bottom-right-yellow-description .number-properties {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .bottom-right-yellow-description .properties-description {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 15px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .bottom-right-yellow-description p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 34px;
  font-size: 20px;
  color: #1A1A1A;
  letter-spacing: normal;
  width: 247px;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .arrow-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.properties-section .properties-content .properties-widgets .properties-right-widgets .right-bottom-widget .bottom-right-yellow .arrow-button .arrow-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=listings.css.map */