/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popup-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 5px 12px -2px rgba(0, 0, 0, 0.1), 0px 18px 36px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
}

.container .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: #ffffff;
}

.container .title p {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
}

.user_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.user_details .input_box {
  width: calc(50% - 20px);
  margin: 0 0 12px 0;
}

.input_box label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.input_box label::after {
  content: " *";
  color: red;
}

.input_box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  background-color: #e9e9e9;
  transition: all 120ms ease-out 0s;
}

.input_box input:focus,
.input_box input:valid {
  box-shadow: 0px 0px 0px 2px #1a1a1a;
}

form .gender {
  padding: 0px 25px;
}

.gender .gender_title {
  font-size: 20px;
  font-weight: 500;
}

.gender .category {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.gender .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.gender .category label .dot {
  height: 18px;
  width: 18px;
  background: #e9e9e9;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid transparent;
  transition: all 0.3s ease;
}

#radio_1:checked ~ .category label .one,
#radio_2:checked ~ .category label .two,
#radio_3:checked ~ .category label .three {
  border-color: #e9e9e9;
  background: #eb664e;
}

.gender input {
  display: none;
}

@media screen and (max-width: 584px) {
  .user_details {
    max-height: 340px;
    overflow-y: scroll;
  }
  .user_details::-webkit-scrollbar {
    width: 0;
  }
  .user_details .input_box {
    width: 100%;
  }
  .gender .category {
    width: 100%;
  }
}
@media screen and (max-width: 419px) {
  .gender .category {
    flex-direction: column;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer-background {
  background-color: #1f4b43;
  padding: 56px 120px;
}
.footer-background .footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .footer-background .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-background .footer-main .footer-top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-top-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.footer-background .footer-main .footer-top-block .footer-social-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 34px;
  color: #ffffff;
}
.footer-background .footer-main .footer-top-block .footer-social-network .social-network-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-background .footer-main .horizontal-line {
  background-color: rgba(255, 255, 255, 0.1176470588);
  width: 100%;
  height: 1px;
}
.footer-background .footer-main .footer-mid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1460px) {
  .footer-background .footer-main .footer-mid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-mid-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer-background .footer-main .footer-mid-row .footer-navigation {
  width: 170px;
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-mid-row .footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-background .footer-main .footer-mid-row .footer-navigation ul,
.footer-background .footer-main .footer-mid-row .footer-navigation a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 28px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
  gap: 10px;
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-mid-row .footer-navigation ul,
  .footer-background .footer-main .footer-mid-row .footer-navigation a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-background .footer-main .footer-mid-row .footer-nav-title {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 22px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4705882353);
  letter-spacing: normal;
  margin-bottom: 30px;
  width: 112px;
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-mid-row .footer-nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .footer-background .footer-main .footer-mid-row .footer-navigation-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app .get-app {
  background-color: rgba(255, 255, 255, 0.1176470588);
  width: 220px;
  border-radius: 12px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app .get-app .get-app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 25px;
  gap: 15px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app .get-app .get-app-content .vertical-line {
  background-color: #ffffff;
  width: 1px;
  height: 38px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app .get-app .get-app-content p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: normal;
  margin-bottom: 4px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation-app .app .get-app .get-app-content p:last-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}
.footer-background .footer-main .footer-mid-row .subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 15px;
}
.footer-background .footer-main .footer-mid-row .subscribe-content p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput {
  background-color: #1f4b43;
  border: none;
  outline: none;
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput::-moz-placeholder {
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput::placeholder {
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .mail-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1176470588);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 44px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 8px 30px;
  width: 118px;
  height: 42px;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .mail-button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}
.footer-background .footer-main .footer-bottom-row p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}

.learn-more-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e7c873;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  gap: 20px;
  width: 210px;
  height: 64px;
}
.learn-more-button:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}
@media (max-width: 1100px) {
  .learn-more-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.address-button {
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: 1px solid #1a1a1a;
  border-radius: 80px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 2px 30px;
  text-align: center;
  display: inline-block;
}
.address-button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dropdown a {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dropbtn {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 60px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  background-color: #ffffff;
  padding: 0 25px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  border-radius: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.reg_btn {
  padding: 25px;
  margin: 15px 0;
}

.reg_btn input {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 2px;
  height: 45px;
  width: 100%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: #1a1a1a;
  border-radius: 5px;
}

.reg_btn input:hover {
  background: #ffffff;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.widget {
  position: relative;
  background-color: #ffffff;
  width: 432px;
  height: 520px;
  border-radius: 12px;
  cursor: pointer;
}
.widget .image-background {
  background-image: url(/img/widget1-1.png);
  background-size: cover;
  width: 100%;
  height: 420px;
  border-radius: 12px 12px 0 0;
}
.widget .widget-description {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 140px;
  padding: 25px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.widget .widget-description .widget-title {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #1a1a1a;
  letter-spacing: normal;
  margin-bottom: 20px;
}
.widget .widget-description .location,
.widget .widget-description .bedrooms,
.widget .widget-description .bathrooms,
.widget .widget-description .square {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.widget .widget-description .location p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
}
.widget .widget-description .description-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.widget .widget-description .description-row .specification {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  gap: 30px;
}
.widget .widget-description .description-row .specification p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
}
.widget .widget-description .description-row .price p {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  color: #eb664e;
  letter-spacing: normal;
}

.news-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  width: 328px;
  border-radius: 18px;
  padding-bottom: 30px;
  cursor: pointer;
}
.news-widget .news-widget-image {
  background-image: url(/img/news-widget1-1.png);
  width: 100%;
  height: 218px;
  border-radius: 18px;
  background-size: cover;
  margin-bottom: 20px;
}
.news-widget .news-widget-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 15px;
  color: #3d3e3f;
  letter-spacing: normal;
  margin-bottom: 10px;
  gap: 8px;
}
.news-widget .news-widget-date .news-widget-dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #1a1a1a;
}
.news-widget .news-widget-description p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
  text-align: center;
  width: 240px;
  margin-bottom: 15px;
}
.news-widget .widget-btn {
  background-color: #e7c873;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px 50px;
}
.news-widget .widget-btn:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.cities-widgets .cities-widget {
  background-image: url("/img/new-york.png");
  width: 256px;
  height: 318px;
  background-size: cover;
  position: relative;
  padding: 40px;
  cursor: pointer;
}
.cities-widgets .cities-widget p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: normal;
}
.cities-widgets .cities-widget p:last-child {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 22px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}

.people-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .people-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.people-review .review-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 40px;
  gap: 20px;
}
.people-review .review-description {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
  width: 365px;
}
.people-review .people-review-top-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.people-review .people-review-top-block .name-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 35px 0 20px;
  gap: 10px;
}
.people-review .people-review-top-block .name-position p:first-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 22px;
  font-size: 20px;
  color: #1a1a1a;
  letter-spacing: normal;
}
.people-review .people-review-top-block .name-position p:last-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 15px;
  color: #1a1a1a;
  letter-spacing: normal;
}

body {
  background-color: #eeeeee;
}
body .header, body .stats-content, body .column-widgets {
  max-width: 1440px;
  margin: 0 auto;
}
body .main-image {
  background-image: url("/img/main-img.png");
  padding: 42px 40px;
  width: 100%;
  height: 860px;
  background-size: cover;
  position: relative;
}
body .main-image .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 80px;
}
@media (max-width: 1280px) {
  body .main-image .header {
    height: 100px;
  }
}
body .main-image .header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  body .main-image .header .navbar {
    display: none;
  }
}
body .main-image .header .nav-right-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1280px) {
  body .main-image .header .nav-right-block {
    padding: 40px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
body .main-image .header .nav-right-block .phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
body .main-image .header .nav-right-block .phone a {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: 1px;
}
body .main-image .header .nav-right-block .add-button {
  background-color: #ffffff;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: 1px solid #1a1a1a;
  border-radius: 80px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 2px 30px;
  text-align: center;
  display: flex;
}
body .main-image .header .nav-right-block .add-button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}
@media (max-width: 830px) {
  body .main-image .header .nav-right-block {
    display: none;
  }
}
body .main-image .header .burger {
  display: none;
}
@media (max-width: 1280px) {
  body .main-image .header .burger {
    display: flex;
  }
}
body .main-image .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
body .main-image .text-box .heading-primary {
  color: #1f4b43;
  text-transform: uppercase;
  padding: 60px 0;
}
@media (max-width: 900px) {
  body .main-image .text-box .heading-primary {
    width: 430px;
    top: 50%;
    left: 50%;
  }
}
body .main-image .text-box .heading-primary .heading-primary-main {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 60px;
  font-size: 60px;
  color: #1f4b43;
  letter-spacing: 11px;
  display: block;
  padding: 10px 0;
  text-align: center;
}
body .main-image .text-box .heading-primary .heading-primary-sub {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1f4b43;
  letter-spacing: 9px;
  display: block;
  text-align: center;
}
body .main-image .text-box .search {
  width: 800px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  body .main-image .text-box .search {
    width: 400px;
  }
}
body .main-image .text-box .search .searchTerm {
  width: 100%;
  border: none;
  padding: 26px 30px;
  border-radius: 80px;
}
body .main-image .text-box .search .searchButton {
  position: absolute;
  width: 60px;
  height: 60px;
  border: none;
  background: #e7c873;
  border-radius: 80px;
  cursor: pointer;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section {
  padding: 100px 0;
}
body main .column-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
body main .column-widgets .categories-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 1390px) {
  body main .column-widgets .categories-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1390px) {
  body main .column-widgets .categories-header .news-widget-btn {
    display: none;
  }
}
body main .column-widgets .categories-header .categories-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
@media (max-width: 1390px) {
  body main .column-widgets .categories-header .categories-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body main .column-widgets h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: normal;
  text-align: center;
}
body main .column-widgets p {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
}
body main .row-widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  body main .row-widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
body main .stats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f4b43;
  width: 100%;
  height: 1170px;
  gap: 70px;
}
@media (max-width: 1410px) {
  body main .stats-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
}
body main .stats-section .stats-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 165px;
}
@media (max-width: 1280px) {
  body main .stats-section .stats-content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
body main .stats-section .stats-content .stats-background-image {
  position: relative;
  background-image: url(/img/stats.png);
  height: 638px;
  width: 638px;
  background-size: cover;
  padding: 25px;
}
body main .stats-section .stats-content .stats-background-image .clients-stats {
  background-color: #ffffff;
  width: 254px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body main .stats-section .stats-content .stats-background-image .clients-stats .community-icon {
  background-color: #faf4e3;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .stats-section .stats-content .stats-background-image .clients-stats .community-icon .total-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .stats-section .stats-content .column-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 1280px) {
  body main .stats-section .stats-content .column-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body main .stats-section .stats-content .column-description p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  width: 556px;
}
body main .stats-section .stats-content .column-description h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: start;
}
body main .stats-section .stats-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 180px;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  body main .stats-section .stats-row {
    gap: 100px;
  }
}
body main .stats-section .stats-row .stats-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 206px;
}
body main .stats-section .stats-row .stats-count p:first-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 72px;
  font-size: 40px;
  color: #e7c873;
  letter-spacing: normal;
}
body main .stats-section .stats-row .stats-count p:last-child {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}
body main .steps-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  body main .steps-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}
body main .steps-section .steps-left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
  background-color: #ffffff;
  height: 840px;
  width: 840px;
  border-radius: 18px;
}
@media (max-width: 1100px) {
  body main .steps-section .steps-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
body main .steps-section .steps-left-block .top-image {
  background-image: url(/img/top-image.png);
  width: 573px;
  height: 280px;
}
@media (max-width: 1100px) {
  body main .steps-section .steps-left-block .top-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
body main .steps-section .steps-left-block .lower-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1100px) {
  body main .steps-section .steps-left-block .lower-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
body main .steps-section .steps-left-block .lower-image div:first-child {
  background-image: url(/img/mid-image.png);
  width: 334px;
  height: 359px;
  border-radius: 18px;
}
@media (max-width: 1100px) {
  body main .steps-section .steps-left-block .lower-image div:first-child {
    display: none;
  }
}
body main .steps-section .steps-left-block .lower-image div:last-child {
  background-image: url(/img/lower-image.png);
  width: 488px;
  height: 540px;
}
body main .steps-section .steps-left-block .steps-clients-stats {
  position: absolute;
  top: 30%;
  right: 45%;
  background-color: #ffffff;
  width: 254px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1100px) {
  body main .steps-section .steps-left-block .steps-clients-stats {
    right: 35%;
  }
}
body main .steps-section .steps-left-block .steps-clients-stats .community-icon {
  background-color: #faf4e3;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .steps-section .steps-left-block .steps-clients-stats .community-icon .total-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .steps-section .steps-right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body main .steps-section .steps-right-block h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: normal;
  margin-bottom: 35px;
}
body main .steps-section .steps-right-block .finding-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .steps-section .steps-right-block .finding-steps-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
body main .steps-section .steps-right-block .finding-steps-description p:first-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color: #1a1a1a;
  letter-spacing: normal;
}
body main .steps-section .steps-right-block .finding-steps-description p:last-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: normal;
  width: 310px;
}
body main .news-section .news-content {
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  gap: 40px;
}
body main .news-section .news-content .news-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: normal;
  margin-bottom: 5px;
}
body main .news-section .news-content .news-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #3d3e3f;
  letter-spacing: normal;
}
body main .news-section .news-content .news-widgets-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  gap: 20px;
  flex-wrap: wrap;
}
body main .markets-section {
  max-width: 1420px;
}
body main .markets-section .markets-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1a1a1a;
  letter-spacing: normal;
  margin-bottom: 20px;
  text-align: center;
}
body main .markets-section .markets-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #3d3e3f;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 40px;
}
body main .markets-section .markets-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
body .total-clients p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1a1a1a;
  letter-spacing: 1px;
}
body .total-clients p:last-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: #1a1a1a;
  letter-spacing: 4px;
}
body .widget-btn {
  background-color: #e7c873;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px 50px;
}
body .widget-btn:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}
body .iframe-footer-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
body .iframe-footer-conteiner .iframe-footer {
  width: 100%;
  height: 709px;
}
@media (max-width: 1476px) {
  body .iframe-footer-conteiner .iframe-footer {
    height: 991px;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  body .iframe-footer-conteiner .iframe-footer {
    height: 1880px;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */