/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.pure {
  color: #e75480;
  text-decoration: underline;
  font-weight: 600;
}

.popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:not(:-moz-placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer-background {
  background-color: #1F4B43;
  padding: 56px 120px;
}
.footer-background .footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 50px;
  max-width: 1700px;
  margin: 0 auto;
}
.footer-background .footer-main .footer-top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-background .footer-main .footer-top-block .footer-social-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 34px;
  color: #ffffff;
}
.footer-background .footer-main .footer-top-block .footer-social-network .social-network-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-background .footer-main .horizontal-line {
  background-color: rgba(255, 255, 255, 0.1176470588);
  width: 100%;
  height: 1px;
}
.footer-background .footer-main .footer-mid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation {
  width: 170px;
}
.footer-background .footer-main .footer-mid-row .footer-navigation ul,
.footer-background .footer-main .footer-mid-row .footer-navigation a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 28px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
  gap: 10px;
}
.footer-background .footer-main .footer-mid-row .footer-nav-title {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 22px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4705882353);
  letter-spacing: normal;
  margin-bottom: 30px;
}
.footer-background .footer-main .footer-mid-row .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-background .footer-main .footer-mid-row .app .get-app {
  background-color: rgba(255, 255, 255, 0.1176470588);
  width: 220px;
  border-radius: 12px;
}
.footer-background .footer-main .footer-mid-row .app .get-app .get-app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 25px;
  gap: 15px;
}
.footer-background .footer-main .footer-mid-row .app .get-app .get-app-content .vertical-line {
  background-color: #ffffff;
  width: 1px;
  height: 38px;
}
.footer-background .footer-main .footer-mid-row .app .get-app .get-app-content p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: normal;
  margin-bottom: 4px;
}
.footer-background .footer-main .footer-mid-row .app .get-app .get-app-content p:last-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}
.footer-background .footer-main .footer-mid-row .subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 15px;
}
.footer-background .footer-main .footer-mid-row .subscribe-content p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput {
  background-color: #1F4B43;
  border: none;
  outline: none;
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput::-moz-placeholder {
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .emailInput::placeholder {
  color: #ffffff;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .mail-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1176470588);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 44px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 8px 30px;
  width: 118px;
  height: 42px;
}
.footer-background .footer-main .footer-mid-row .subscribe-content .email .mail-button:hover {
  background-color: #1A1A1A;
  color: #ffffff;
}
.footer-background .footer-main .footer-bottom-row p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: center;
}

.learn-more-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E7C873;
  color: #1A1A1A;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  gap: 20px;
  width: 210px;
  height: 64px;
}
.learn-more-button:hover {
  background-color: #ffffff;
  color: #1A1A1A;
}

.address-button {
  background-color: #ffffff;
  color: #1A1A1A;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: 1px solid #1A1A1A;
  border-radius: 80px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 2px 30px;
  text-align: center;
  display: inline-block;
}
.address-button:hover {
  background-color: #1A1A1A;
  color: #ffffff;
}

.widget {
  position: relative;
  background-color: #ffffff;
  width: 520px;
  height: 520px;
  border-radius: 12px;
  cursor: pointer;
}
.widget .image-background {
  background-image: url(/img/widget1-1.png);
  background-size: cover;
  width: 520px;
  height: 420px;
  border-radius: 12px 12px 0 0;
}
.widget .widget-description {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 10px;
  position: absolute;
  width: 470px;
  height: 140px;
  padding: 25px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.widget .widget-description .widget-title {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #1A1A1A;
  letter-spacing: normal;
  margin-bottom: 20px;
}
.widget .widget-description .location,
.widget .widget-description .bedrooms,
.widget .widget-description .bathrooms,
.widget .widget-description .square {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.widget .widget-description .location p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.widget .widget-description .description-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.widget .widget-description .description-row .specification {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  gap: 30px;
}
.widget .widget-description .description-row .specification p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
}
.widget .widget-description .description-row .price p {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  color: #EB664E;
  letter-spacing: normal;
}

.news-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E9E9E9;
  width: 328px;
  border-radius: 18px;
  padding-bottom: 30px;
  cursor: pointer;
}
.news-widget .news-widget-image {
  background-image: url(/img/news-widget1-1.png);
  width: 100%;
  height: 218px;
  border-radius: 18px;
  background-size: cover;
  margin-bottom: 20px;
}
.news-widget .news-widget-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 15px;
  color: #3D3E3F;
  letter-spacing: normal;
  margin-bottom: 10px;
  gap: 8px;
}
.news-widget .news-widget-date .news-widget-dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #1A1A1A;
}
.news-widget .news-widget-description p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
  text-align: center;
  width: 240px;
  margin-bottom: 15px;
}
.news-widget .widget-btn {
  background-color: #E7C873;
  color: #1A1A1A;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px 50px;
}
.news-widget .widget-btn:hover {
  background-color: #ffffff;
  color: #1A1A1A;
}

.cities-widget {
  background-image: url("/img/new-york.png");
  width: 256px;
  height: 318px;
  background-size: cover;
  position: relative;
  padding: 40px;
  cursor: pointer;
}
.cities-widget p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: normal;
}
.cities-widget p:last-child {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 22px;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: normal;
}

body {
  background-color: #eeeeee;
}
body .main-image {
  background-image: url("/img/main-img.png");
  padding: 42px 40px;
  width: 100%;
  height: 860px;
  background-size: cover;
  position: relative;
}
body .main-image .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 80px;
}
body .main-image .header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main-image .header .navbar .dropdown a {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
}
body .main-image .header .navbar .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body .main-image .header .navbar .dropbtn {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 60px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  background-color: #ffffff;
  padding: 0 25px;
  border: none;
}
body .main-image .header .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  border-radius: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body .main-image .header .navbar .dropdown-content a:hover {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
body .main-image .header .nav-right-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .main-image .header .nav-right-block .phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
body .main-image .header .nav-right-block .phone a {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: 1px;
}
body .main-image .header .nav-right-block .add-button {
  background-color: #ffffff;
  color: #1A1A1A;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: 1px solid #1A1A1A;
  border-radius: 80px;
  font-size: 16px;
  transition: background-color 0.4s;
  padding: 2px 30px;
  text-align: center;
  display: flex;
}
body .main-image .header .nav-right-block .add-button:hover {
  background-color: #1A1A1A;
  color: #ffffff;
}
body .main-image .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .main-image .text-box .heading-primary {
  color: #1F4B43;
  text-transform: uppercase;
  margin-bottom: 60px;
}
body .main-image .text-box .heading-primary .heading-primary-main {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 60px;
  font-size: 60px;
  color: #1F4B43;
  letter-spacing: 11px;
  display: block;
}
body .main-image .text-box .heading-primary .heading-primary-sub {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1F4B43;
  letter-spacing: 9px;
  display: block;
}
body .main-image .text-box .search {
  width: 100%;
  position: relative;
  display: flex;
}
body .main-image .text-box .search .searchTerm {
  width: 100%;
  border: none;
  padding: 26px 30px;
  border-radius: 80px;
}
body .main-image .text-box .search .searchButton {
  position: absolute;
  width: 60px;
  height: 60px;
  border: none;
  background: #E7C873;
  border-radius: 80px;
  cursor: pointer;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section {
  padding: 100px 0;
}
body main .column-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body main .column-widgets .categories-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1640px;
}
body main .column-widgets .categories-header .categories-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
body main .column-widgets h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
  text-align: center;
}
body main .column-widgets p {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
}
body main .row-widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body main .stats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F4B43;
  width: 100%;
  height: 1170px;
  padding: 175px 260px;
  gap: 70px;
}
body main .stats-section .stats-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 165px;
}
body main .stats-section .stats-content .stats-background-image {
  position: relative;
  background-image: url(/img/stats.png);
  height: 638px;
  width: 638px;
  background-size: cover;
  padding: 25px;
}
body main .stats-section .stats-content .stats-background-image .clients-stats {
  background-color: #ffffff;
  width: 254px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body main .stats-section .stats-content .stats-background-image .clients-stats .community-icon {
  background-color: #faf4e3;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .stats-section .stats-content .stats-background-image .clients-stats .community-icon .total-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .stats-section .stats-content .column-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
body main .stats-section .stats-content .column-description p {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
  width: 556px;
}
body main .stats-section .stats-content .column-description h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: normal;
  text-align: start;
}
body main .stats-section .stats-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 180px;
}
body main .stats-section .stats-row .stats-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .stats-section .stats-row .stats-count p:first-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 72px;
  font-size: 40px;
  color: #E7C873;
  letter-spacing: normal;
}
body main .stats-section .stats-row .stats-count p:last-child {
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
}
body main .steps-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
body main .steps-section .steps-left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
  background-color: #ffffff;
  height: 840px;
  width: 840px;
  border-radius: 18px;
}
body main .steps-section .steps-left-block .top-image {
  background-image: url(/img/top-image.png);
  width: 573px;
  height: 280px;
}
body main .steps-section .steps-left-block .lower-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body main .steps-section .steps-left-block .lower-image div:first-child {
  background-image: url(/img/mid-image.png);
  width: 334px;
  height: 359px;
  border-radius: 18px;
}
body main .steps-section .steps-left-block .lower-image div:last-child {
  background-image: url(/img/lower-image.png);
  width: 488px;
  height: 540px;
}
body main .steps-section .steps-left-block .steps-clients-stats {
  position: absolute;
  top: 30%;
  right: 45%;
  background-color: #ffffff;
  width: 254px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body main .steps-section .steps-left-block .steps-clients-stats .community-icon {
  background-color: #faf4e3;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .steps-section .steps-left-block .steps-clients-stats .community-icon .total-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .steps-section .steps-right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body main .steps-section .steps-right-block h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
  margin-bottom: 35px;
}
body main .steps-section .steps-right-block .finding-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .steps-section .steps-right-block .finding-steps-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
body main .steps-section .steps-right-block .finding-steps-description p:first-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color: #1A1A1A;
  letter-spacing: normal;
}
body main .steps-section .steps-right-block .finding-steps-description p:last-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: normal;
  width: 310px;
}
body main .news-section .news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body main .news-section .news-content .news-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
  margin-bottom: 5px;
}
body main .news-section .news-content .news-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #3D3E3F;
  letter-spacing: normal;
}
body main .news-section .news-content .news-widgets-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .markets-section {
  max-width: 1420px;
}
body main .markets-section .markets-title h2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 52px;
  font-size: 40px;
  color: #1A1A1A;
  letter-spacing: normal;
  margin-bottom: 20px;
  text-align: center;
}
body main .markets-section .markets-title p {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
  color: #3D3E3F;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 40px;
}
body main .markets-section .markets-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
body .total-clients p:first-child {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: 1px;
}
body .total-clients p:last-child {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: #1A1A1A;
  letter-spacing: 4px;
}
body .widget-btn {
  background-color: #E7C873;
  color: #1A1A1A;
  font-weight: 500;
  cursor: pointer;
  line-height: 54px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  transition: background-color 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px 50px;
}
body .widget-btn:hover {
  background-color: #ffffff;
  color: #1A1A1A;
}
body .iframe-footer-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
body .iframe-footer-conteiner .iframe-footer {
  width: 100%;
  height: 709px;
}/*# sourceMappingURL=styles.css.map */