@import "reset";
@import "variables";
@import "mixins";

.footer-background {
    background-color: $color-secondary;
    padding: 56px 120px;

    .footer-main {
        @include flex-center(column, center, space-between);
        gap: 50px;
        max-width: 1440px;
        margin: 0 auto;

        @media (max-width: 1100px) {
            @include flex-center(column, center, center);
        }

        .footer-top-block {
            @include flex-center(row, space-between, center);

            @media (max-width: 1100px) {
                @include flex-center(column, center, center);
                gap: 30px;
            }

            .footer-social-network {
                @include flex-center();
                gap: 34px;
                color: $color-white;

                .social-network-icon {
                    @include flex-center();
                    gap: 25px;
                }
            }
        }

        .horizontal-line {
            background-color: $color-line;
            width: 100%;
            height: 1px;
        }

        .footer-mid-row {
            @include flex-center(row, space-between, flex-start);
            gap: 50px;

            @media (max-width: 1460px) {
                @include flex-center(row, space-evenly, flex-start);
                flex-wrap: wrap;
            }

            @media (max-width: 1100px) {
                @include flex-center(column, center, center);
                flex-wrap: wrap;
            }

            .footer-navigation {
                width: 170px;

                @media (max-width: 1100px) {
                    @include flex-center(column, center, center);
                }

                ul,
                a {
                    @include flex-center(column, flex-start, flex-start);
                    @include font-style(
                        300,
                        28px,
                        $font-size-small,
                        $color-white
                    );
                    gap: 10px;

                    @media (max-width: 1100px) {
                        @include flex-center(column, center, center);
                    }
                }
            }

            .footer-nav-title {
                @include font-style(
                    500,
                    22px,
                    $font-size-large,
                    $color-footer-nav
                );
                margin-bottom: 30px;
                width: 112px;

                @media (max-width: 1100px) {
                    @include flex-center(column, center, center);
                }
            }

            .footer-navigation-app {
                @media (max-width: 1100px) {
                    @include flex-center(column, center, center);
                }

                .app {
                    @include flex-center(column);
                    gap: 20px;

                    .get-app {
                        background-color: $color-line;
                        width: 220px;
                        border-radius: 12px;

                        .get-app-content {
                            @include flex-center(row, space-evenly, center);
                            padding: 20px 25px;
                            gap: 15px;

                            .vertical-line {
                                background-color: $color-white;
                                width: 1px;
                                height: 38px;
                            }

                            p:first-child {
                                @include font-style(
                                    400,
                                    16px,
                                    12px,
                                    $color-white
                                );
                                margin-bottom: 4px;
                            }

                            p:last-child {
                                @include font-style(
                                    500,
                                    20px,
                                    $font-size-small,
                                    $color-white
                                );
                            }
                        }
                    }
                }
            }

            .subscribe-content {
                @include flex-center(column, center, space-between);
                gap: 15px;

                p {
                    @include font-style(
                        400,
                        28px,
                        $font-size-medium,
                        $color-white
                    );
                }

                .email {
                    @include flex-center(row, space-between);

                    .emailInput {
                        background-color: $color-secondary;
                        border: none;
                        outline: none;
                        color: $color-white;

                        &::placeholder {
                            color: $color-white;
                        }
                    }

                    .mail-button {
                        @include flex-center(row, space-between, center);
                        @include button-style(
                            $color-line,
                            $color-white,
                            44px,
                            none,
                            $font-size-medium,
                            $color-primary,
                            $color-white
                        );
                        padding: $spacing-xs $spacing-l;
                        width: 118px;
                        height: 42px;
                    }
                }
            }
        }

        .footer-bottom-row p {
            @include font-style(400, 28px, $font-size-medium, $color-white);
            text-align: center;
        }
    }
}
