// Colors
$color-primary: #1A1A1A;
$color-secondary: #1F4B43;
$color-background-section: #2D3A4F;
$color-accent: #E7C873;
$color-background: #eeeeee;
$color-white: #ffffff;
$color-grey: #3D3E3F;
$color-light-grey: #E9E9E9;
$color-border: #FFFFFF1A;
$color-line: #ffffff1e;
$color-price: #EB664E;
$color-footer-nav: #FFFFFF78;
$color-button-bg: #1A1A1A1C;

// Font-size
$font-size-small: 15px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 40px;
$font-size-xxlarge: 60px;

// Spacing
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 40px;


// Border
$border-solid: 1px solid $color-primary;

