@import "reset";
@import "variables";
@import "mixins";
@import "popup";
@import "footer";
@import "button";
@import "widget";

body {
    background-color: $color-background;

    .header, .stats-content, .column-widgets {
        max-width: 1440px;
        margin: 0 auto;
    }

    .main-image {
        background-image: url("/img/main-img.png");
        padding: 42px 40px;
        width: 100%;
        height: 860px;
        background-size: cover;
        position: relative;

        .header {
            @include flex-center(row, space-between, center);
            padding: 20px 40px;
            background-color: $color-white;
            border-radius: 80px;
            

            @media (max-width: 1280px) {
                height: 100px;
            }


            .navbar {
                @include flex-center(row, center, center);
                
                @media (max-width: 1280px) {
                    display: none;
                }
            }

            .nav-right-block {
                @include flex-center(row, center, center);
                gap: 20px;
                
                @media (max-width: 1280px) {
                    padding: 40px;
                    width: 700px;
                    @include flex-center(row, flex-end, center);
                }
                

                .phone {
                    @include flex-center(row, center, center);
                    gap: 12px;

                    a {
                        @include font-style(
                            500,
                            20px,
                            $font-size-medium,
                            $color-primary,
                            1px
                        );
                    }
                }

                .add-button {
                    @include button-style(
                        $color-white,
                        $color-primary,
                        80px,
                        $border-solid,
                        $font-size-medium,
                        $color-primary,
                        $color-white
                    );
                    padding: 2px 30px;
                    text-align: center;
                    display: flex;
                }

                @media (max-width: 830px) {
                    display: none;
                }
            }

            .burger {
                display: none;

                @media (max-width: 1280px) {
                    display: flex;
                }
                
            }
        }

        .text-box {
            @include flex-center(column, center, center);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            .heading-primary {
                color: $color-secondary;
                text-transform: uppercase;
                padding: 60px 0;
                

                @media (max-width: 900px) {
                    width: 430px;
                    top: 50%;
                    left: 50%;
                }
                

                .heading-primary-main {
                    @include font-style(
                        700,
                        60px,
                        $font-size-xxlarge,
                        $color-secondary,
                        11px
                    );
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                }

                .heading-primary-sub {
                    @include font-style(
                        400,
                        30px,
                        $font-size-medium,
                        $color-secondary,
                        9px
                    );
                    display: block;
                    text-align: center;
                    
                }
            }

            .search {
                width: 800px;
                position: relative;
                display: flex;
                justify-content: space-between;


                @media (max-width: 900px) {
                    width: 400px;
                }

                

                .searchTerm {
                    width: 100%;
                    border: none;
                    padding: 26px 30px;
                    border-radius: 80px;
                }

                .searchButton {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    border: none;
                    background: $color-accent;
                    border-radius: 80px;
                    cursor: pointer;
                    top: 50%;
                    right: 5px;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    main {
        @include flex-center(column);

        section {
            padding: 100px 0;
            
        }

        .column-widgets {
            @include flex-center(column, center, center);
            gap: 40px;
            width: 100%;

            .categories-header {
                @include flex-center(row, space-between, center);
                width: 100%;
                
                @media (max-width: 1390px) {
                    @include flex-center(row, center, center);
                }

                .news-widget-btn {
                    @media (max-width: 1390px) {
                        display: none;
                    }
                }

                .categories-title {
                    @include flex-center(column, center, flex-start);
                    gap: 5px;

                    @media (max-width: 1390px) {
                        @include flex-center(column, center, center);
                    }
                }
            }
            h2 {
                @include font-style(
                    500,
                    52px,
                    $font-size-xlarge,
                    $color-primary
                );
                text-align: center;
            }

            p {
                @include font-style(
                    500,
                    52px,
                    $font-size-medium,
                    $color-primary
                );
            }
        }

        .row-widgets {
            @include flex-center(row, space-between, center);
            gap: 40px;
            width: 100%;
            flex-wrap: wrap;


            @media (max-width: 1400px) {
                @include flex-center(row, space-evenly, center);
                
            }
        }

        .stats-section {
            @include flex-center(column, center, center);
            background-color: $color-secondary;
            width: 100%;
            height: 1170px;
            gap: 70px;

            @media (max-width: 1410px) {
                @include flex-center(column, space-between, center);
                flex-wrap: wrap;
                height: 100%;
            }

            .stats-content {
                @include flex-center(row, center, center);
                flex-wrap: wrap;
                gap: 165px;

                @media (max-width: 1280px) {
                    flex-wrap: wrap;
                    @include flex-center(column, center, center);
                    gap: 50px;
                }

                .stats-background-image {
                    position: relative;
                    background-image: url(/img/stats.png);
                    height: 638px;
                    width: 638px;
                    background-size: cover;
                    padding: 25px;

                    .clients-stats {
                        background-color: $color-white;
                        width: 254px;
                        height: 100px;
                        border-radius: 12px;
                        @include flex-center(row, space-evenly, center);

                        .community-icon {
                            background-color: #faf4e3;
                            width: 60px;
                            height: 60px;
                            border-radius: 50px;
                            @include flex-center(row, center, center);

                            .total-clients {
                                @include flex-center(column, center, center);
                            }
                        }
                    }
                }

                .column-description {
                    @include flex-center(column, center, flex-start);
                    gap: 20px;

                    @media (max-width: 1280px) {
                        @include flex-center(column, center, center);
                    }

                    p {
                        @include font-style(
                            300,
                            30px,
                            $font-size-medium,
                            $color-white
                        );
                        width: 556px;
                    }

                    h2 {
                        @include font-style(
                            500,
                            52px,
                            $font-size-xlarge,
                            $color-white
                        );
                        text-align: start;
                    }
                }
            }

            .stats-row {
                @include flex-center(row, center, center);
                gap: 180px;
                flex-wrap: wrap;

                @media (max-width: 1280px) {
                    gap: 100px;
                }

                .stats-count {
                    @include flex-center(column, center, center);
                    width: 206px;

                    p:first-child {
                        @include font-style(
                            500,
                            72px,
                            $font-size-xlarge,
                            $color-accent
                        );
                    }

                    p:last-child {
                        @include font-style(
                            300,
                            30px,
                            $font-size-medium,
                            $color-white
                        );
                        text-align: center
                    }
                }
            }
        }

        .steps-section {
            @include flex-center(row, center, center);
            gap: 200px;
            flex-wrap: wrap;

            @media (max-width: 1280px) {
                @include flex-center(column-reverse, center, center);
                gap: 100px;
            }

            .steps-left-block {
                @include flex-center(column, space-between, space-between);
                position: relative;
                background-color: $color-white;
                height: 840px;
                width: 840px;
                border-radius: 18px;

                @media (max-width: 1100px) {
                    @include flex-center(column, space-between, center);
                }

                .top-image {
                    background-image: url(/img/top-image.png);
                    width: 573px;
                    height: 280px;

                    @media (max-width: 1100px) {
                        @include flex-center(row, center, center);
                    }
                }

                .lower-image {
                    @include flex-center(row, space-between, flex-start);

                    @media (max-width: 1100px) {
                        @include flex-center(row, center, center);
                    }
                }

                .lower-image div:first-child {
                    background-image: url(/img/mid-image.png);
                    width: 334px;
                    height: 359px;
                    border-radius: 18px;

                    @media (max-width: 1100px) {
                        display: none;
                    }
                }

                .lower-image div:last-child {
                    background-image: url(/img/lower-image.png);
                    width: 488px;
                    height: 540px;



                }

                .steps-clients-stats {
                    position: absolute;
                    top: 30%;
                    right: 45%;
                    background-color: $color-white;
                    width: 254px;
                    height: 100px;
                    border-radius: 12px;
                    @include flex-center(row, space-evenly, center);

                    @media (max-width: 1100px) {
                        right: 35%;
                    }

                    .community-icon {
                        background-color: #faf4e3;
                        width: 60px;
                        height: 60px;
                        border-radius: 50px;
                        @include flex-center(row, center, center);

                        .total-clients {
                            @include flex-center(column, center, center);
                        }
                    }
                }
            }

            .steps-right-block {
                @include flex-center(column, center, flex-start);

                h2 {
                    @include font-style(
                        500,
                        52px,
                        $font-size-xlarge,
                        $color-primary
                    );
                    margin-bottom: 35px;
                }

                .finding-steps {
                    @include flex-center(column);
                    gap: 30px;
                }

                .finding-steps-description {
                    @include flex-center(row, center, flex-start);
                    gap: 22px;
                }

                .finding-steps-description p:first-child {
                    @include font-style(
                        500,
                        25px,
                        $font-size-large,
                        $color-primary
                    );
                }

                .finding-steps-description p:last-child {
                    @include font-style(
                        400,
                        28px,
                        $font-size-medium,
                        $color-primary
                    );
                    width: 310px;
                }
            }
        }

        .news-section {
            .news-content {
                @include flex-center(column, space, center);
                gap: 40px;
                

                .news-title h2 {
                    @include font-style(
                        500,
                        52px,
                        $font-size-xlarge,
                        $color-primary
                    );
                    margin-bottom: 5px;
                }

                .news-title p {
                    @include font-style(
                        400,
                        32px,
                        $font-size-medium,
                        $color-grey
                    );
                }

                .news-widgets-row {
                    @include flex-center(row, center, center);
                    max-width: 1440px;
                    gap: 20px; 
                    flex-wrap: wrap;
                }
            }
        }

        .markets-section {
            max-width: 1420px;

            .markets-title h2 {
                @include font-style(
                    500,
                    52px,
                    $font-size-xlarge,
                    $color-primary
                );
                margin-bottom: 20px;
                text-align: center;
            }

            .markets-title p {
                @include font-style(400, 32px, $font-size-medium, $color-grey);
                text-align: center;
                margin-bottom: 40px;
            }

            .markets-address {
                @include flex-center(row, center);
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }

    .total-clients p:first-child {
        @include font-style(400, 30px, $font-size-medium, $color-primary, 1px);
    }

    .total-clients p:last-child {
        @include font-style(500, 30px, $font-size-large, $color-primary, 4px);
    }

    .widget-btn {
        @include button-style(
            $color-accent,
            $color-primary,
            18px,
            none,
            $font-size-small
        );
        @include flex-center(row, center, center);
        gap: 20px;
        padding: 2px 50px;
    }

    .iframe-footer-conteiner {
        @include flex-center(column, center, stretch);

        .iframe-footer {
            width: 100%;
            height: 709px;

            @media (max-width: 1476px) {
                height: 991px;
                width: 100%;
            }

            @media (max-width: 1100px) {
                height: 1880px;
                width: 100%;
            }
        }
    }
}
