<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/styles.css" />
    </head>
    <body>
        <body>
            <footer class="footer-background">
                <div class="footer-main">
                    <div class="footer-top-block">
                        <a href="../index.html" class="logo"
                        target="_blank"
                            ><img
                                src="../img/logo-white.svg"
                                alt="JustHome_logo"
                        /></a>
                        <div class="footer-social-network">
                            <p>Follow Us</p>
                            <div class="social-network-icon">
                                <img src="../img/fb-icon.svg" alt="fb-icon" />
                                <img src="../img/x-icon.svg" alt="x-icon" />
                                <img src="../img/ig-icon.svg" alt="ig-icon" />
                                <img
                                    src="../img/linked-icon.svg"
                                    alt="linkedin-icon"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="footer-mid-row">
                        <div class="footer-navigation-form">
                            <p class="footer-nav-title">Subscribe</p>
                            <div class="subscribe-content">
                                <form class="email">
                                    <input
                                        type="email"
                                        class="emailInput"
                                        placeholder="Your e-mail"
                                    />
                                    <button class="mail-button" type="button">
                                        Send
                                        <img
                                            src="../img/white-arrow.svg"
                                            alt="arrow-for-button-icon"
                                        />
                                    </button>
                                </form>
                                <div class="horizontal-line"></div>
                                <p>
                                    Subscribe to our newsletter to receive our
                                    weekly feed.
                                </p>
                            </div>
                        </div>
                        <div class="footer-navigation">
                            <p class="footer-nav-title">Discover</p>
                            <ul>
                                <li>Miami</li>
                                <li>New York</li>
                                <li>Chicago</li>
                                <li>Florida</li>
                                <li>Los Angeles</li>
                                <li>San Diego</li>
                            </ul>
                        </div>
                        <div class="footer-navigation">
                            <p class="footer-nav-title">Quick Links</p>
                            <ul>
                                <li>About</li>
                                <li>Contact</li>
                                <li>FAQ’s</li>
                                <li>Blog</li>
                                <li>Pricing Plans</li>
                                <li>Privacy Policy</li>
                                <li>Terms & Conditions</li>
                            </ul>
                        </div>
                        <div class="footer-navigation">
                            <p class="footer-nav-title">Contact Us</p>
                            <ul>
                                <li>
                                    <a href="tel:+1234567890"
                                        >+(123) 456-7890</a
                                    >
                                </li>
                                <li>
                                    <a href="mailto:hi@justhome.com"
                                        >hi@justhome.com</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="footer-navigation">
                            <p class="footer-nav-title">Our Address</p>
                            <ul>
                                <li>
                                    <a
                                        href="https://maps.app.goo.gl/DXTjDuNWQTF2Tfi68"
                                        target="_blank"
                                        >99 Fifth Avenue, 3rd Floor San
                                        Francisco, CA 1980</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="footer-navigation-app">
                            <p class="footer-nav-title">Get the app</p>
                            <div class="app">
                                <div class="get-app">
                                    <a
                                        href="https://www.apple.com/app-store/"
                                        target="_blank"
                                    >
                                        <div class="get-app-content">
                                            <div>
                                                <img
                                                    src="../img/apple-icon.png"
                                                    alt="apple-icon"
                                                />
                                            </div>
                                            <div class="vertical-line"></div>
                                            <div class="store">
                                                <p>Download on the</p>
                                                <p>Apple Store</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="get-app">
                                    <a
                                        href="https://play.google.com/store"
                                        target="_blank"
                                    >
                                        <div class="get-app-content">
                                            <div>
                                                <img
                                                    src="../img/playstore-icon.png"
                                                    alt="playstore-icon"
                                                />
                                            </div>
                                            <div class="vertical-line"></div>
                                            <div class="store">
                                                <p>Get in on</p>
                                                <p>Google Play</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                    <div class="footer-bottom-row">
                        <p>Copyright © 2024. JustHome</p>
                    </div>
                </div>
            </footer>
        </body>
    </body>
</html>
